.markdown {
  @apply text-lg;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.markdown a {
    background: hsla(0, 0%, 0%, .1);
    padding: 5px 10px;
    border-radius: 3px;
    line-height: 36px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    transition: background .2s ease-in-out;
}

.markdown a:hover {
    background: hsla(0, 0%, 0%, .2);
    transition: background .2s ease-in-out;
}

.markdown code {
    /* color: unset; */
    font-family: unset;
    font-size: unset;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 600;
    line-height: 36px;
    background: #ff0;
    white-space: nowrap;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}
