/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/*
body {
    font-family: 'Alice', serif;
    background: url('./../public/img/bg.png') top left no-repeat;
}
*/


@layer base {
    body {
        background: #2c2d30;
    }

    h1, h2 {
        @apply font-['Raleway'] tracking-tighter
    }

    a {
        @apply text-base text-black leading-7 transition-all ease-in-out duration-200;
    }

    strong {
        @apply font-semibold
    }

    p {
        @apply mb-5 font-['Raleway'] text-lg;
    }

    a, code {
        @apply px-[7px] py-[4px] rounded
    }

    code {
        @apply font-semibold whitespace-nowrap bg-highlight text-black
    }

    hr {
        @apply h-px border-0
    }

    .darker hr {
        @apply bg-black/10
    }

    .lighter hr {
        @apply bg-white/10
    }
}