@import "~bootstrap/scss/bootstrap-grid.scss";
// @import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
// @import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
// @import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css');
@import 'lightgallery/scss/lightgallery.scss';
@import 'lightgallery/scss/lg-zoom.scss';
@import 'swiper/css';
@import "swiper/css/pagination";

.site-main {
  @include media-breakpoint-up(md) {
    .group.section h1::before {
        background-image: linear-gradient(70deg,hsla(0,0%,100%,0) 45%,#fff 50%,hsla(0,0%,100%,0) 55%,hsla(0,0%,100%,0))
    }

    &:hover{
      & > .section{
        filter: brightness(22%);
      }

      & > .section:hover{
        filter: brightness(100%);
      }
    }
  }
}