// @import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
// @import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
// @import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css');
// @import 'lightgallery/scss/lightgallery.scss';
// @import 'lightgallery/scss/lg-zoom.scss';
@import 'swiper/css';
@import "swiper/css/pagination";
@import 'theme.scss';

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.json-string { color: green; }
.json-number { color: darkorange; }
.json-boolean { color: blue; }
.json-null { color: magenta; }
.json-key { color: red; }