$dark-mode-transition: 0.5s;

.nearlock-app {
    color: #535353;
    margin: auto;
    width: 1082px;
    height: 626px;
    background-color: hsla(360, 2%, 96%, 0.65);
    backdrop-filter: blur(50px);
    border-radius: 12px;
    box-shadow:
    0 0 0 1px rgba(0, 0, 0, .05),
    0 60px 300px rgba(0, 0, 0, .4),
    0 0 0 1px hsla(0, 0%, 100%, .15) inset;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: background $dark-mode-transition, color $dark-mode-transition;
    
    &-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;
        background: hsla(0, 0%, 100%, 1);
        border-radius: 10px;
        box-shadow: 
        0 0 0 1px hsla(0, 0%, 0%, .15),
        0 25px 60px -15px hsla(0, 0%, 0%, 0.35);

        &__background {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            background: hsla(0, 0%, 0%, .25);    
        }

        &__footer {
            background-image: linear-gradient(180deg, #D3CECE 1%, #CBC3C5 100%);
            padding: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    &__btn {
        border: unset;
        background: hsla(0, 0%, 0%, .15);
        border-radius: 7px;
        padding: 6px 14px;
        font-size: 12px;
        color: #303030;
        transition: background $dark-mode-transition, color $dark-mode-transition;
    }

    &__btn-link {
        border: unset;
        font-size: 25px;
        color: #303030;
        padding: 6px 14px;
        font-size: 12px;    
    }

    &-sidebar {
        width: 0;
        min-width: 0;
        display: flex;
        flex-direction: column;
        transition: all 0.5s;

        &-open {
            width: 230px;
            min-width: 230px;    
            border-right: 1.25px solid hsla(0, 0%, 0%, 0.15);
            transition: all 0.5s;
        }

        &-content {
            position: absolute;
            width: 210px;
            left: 10px;
            padding-top: 40px;
            overflow: hidden;        
        }
    }

    &-sidebar,
    &-content {
        height: 100%;
    }

    &-sidebar {
        &-header-controls {
            position: absolute;
            top: 10px;
            left: 10px;
            display: flex;
            flex-direction: row;
            margin: 10px;
            gap: 10px;
            z-index: 2;

            &:hover {
                .nearlock-app-sidebar-header-controls__item {
                    $control-icon-color: hsla(0, 0%, 0%, .4);

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {                        
                        position: relative;
                 
                        &::before,
                        &::after {
                            content: "";
                            position: absolute;
                        }
                    }

                    &:nth-child(1) {
                        &::before,
                        &::after {
                            top: 5px;
                            left: 2px;
                            width: 8px;
                            height: 2px;
                            background: $control-icon-color;
                            border-radius: 999em;
                        }
    
                        &::before {
                            transform: rotate(45deg);
                        }
    
                        &::after {
                            transform: rotate(-45deg);
                        }
                    }
    
                
                    &:nth-child(2) {
                        &::before {
                            top: 5px;
                            left: 2px;
                            width: 8px;
                            height: 2px;
                            background: $control-icon-color;
                            border-radius: 999em;
                        }
                    }
                
                    &:nth-child(3) {
                        &::before {
                            top: 3px;
                            left: 3px;
                            border-top: 2.5px solid $control-icon-color;
                            border-left: 2.5px solid $control-icon-color;
                            border-bottom: 2.5px solid transparent;
                            border-right: 2.5px solid transparent;
                        }
    
                        &::after {
                            top: 4px;
                            left: 4px;
                            border-bottom: 2.5px solid $control-icon-color;
                            border-right: 2.5px solid $control-icon-color;
                            border-top: 2.5px solid transparent;
                            border-left: 2.5px solid transparent;
                        }
                    }
                }
            }

            &__item {
                width: 12px;
                height: 12px;
                border-radius: 999em;

                &:nth-child(1) {
                    background: #FF6157;
                    box-shadow: 0 0 0 1px #E24640;
                }
                
                &:nth-child(2) {
                    background: #FFC12F;
                    box-shadow: 0 0 0 1px #DFA023;
                }

                &:nth-child(3) {
                    background: #2ACB42;
                    box-shadow: 0 0 0 1px #1BAC2C;
                }
            }
        }


        &-search {
            background: hsla(0, 0%, 0%, .06);
            box-shadow: 0 0 0 1.5px hsla(0, 0%, 0%, .09);
            border-radius: 7px;
            border: none;
            font-size: 13px;
            padding: 7px;

            &::placeholder {
                color: hsla(0, 0%, 0%, .43);
            }
        }


        &__item {
            background: transparent !important;
        }

        &__item,
        &__item__disabled,
        &__item__active {
            display: block;
            font-size: 14px;
            font-weight: 400 !important;
            color: #000 !important;
            padding: 7px 8px;
            text-decoration: unset !important;
            transition: color $dark-mode-transition;

            &__disabled {
                opacity: 0.5;

                &:hover {
                    cursor: default !important;
                }
            }

            &__active {
                background: hsla(0, 0%, 0%, .09) !important;
                border-radius: 7px;
            }
        }

        &__item:not(disabled):hover {
            cursor: pointer !important;
            text-decoration: unset !important;
        }
    }

    &-content {
        background: #fff;
        flex-grow: 1;
        z-index: 1;
        transition: background $dark-mode-transition;

        &-header,
        &-header-open {
            background: #F4F3F7;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 9px 10px;
            border-bottom: 1px solid hsla(0, 0%, 0%, 0.09);
            transition: all $dark-mode-transition;

            &-open {
                padding-left: 100px;
                transition: all 0.5s;
            }

            &__left-items,
            &__right-items_search_icon {
                display: flex;
                padding: 8px;
                border-radius: 6px;
                
                &:hover {
                    background: hsla(0, 0%, 0%, .1);
                }
            }

            &__right-items {
                display: flex;
                align-items: center;

                &_search_icon,
                &_search_icon-open {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    opacity: 1;
                }

                &_search_icon {
                    transition: transform 0.5s, opacity 0.5s;
                
                    &-open {
                        opacity: 0;
                        transform: scale(0);
                        pointer-events: none;
                    }
                }
            }

            &__search,
            &__search-open {
                padding: 0 30px 0 28px;
                margin: 0;
                height: 30px;
                background: #F4F3F7 url("./../public/search.svg") no-repeat 10px center;
                background-size: 12px;
                border-radius: 7px;
                border: none;
                font-size: 12px;
                outline:hsla(0, 0%, 0%, .06) solid 1px;
                opacity: 1;
                transition: background $dark-mode-transition, width 0.5s, opacity 0.5s;
            }

            &__search {
                opacity: 0;
                width: 0;
                pointer-events: none;

                &-open {
                    width: 240px;
            
                    &:focus {
                        outline: none;
                        box-shadow:
                        0 0 0 1px #9CC991,
                        0 0 0 4px #A6D199;
                    }
               }

               &-close-icon-open {
                   position: absolute;
                   right: 20px;
               }
            }

        }
    }

    .tab-content {
        overflow: scroll;
        height: 100%;

        h5 {
            color: #000000;
            transition: color $dark-mode-transition;
        }
    }

    .setup-bt {
        &-wrapper {
            position: absolute;
            top: -200px;
            left: 50%;
            transform: translateX(-50%);
            height: 800px;
            width: 800px;
        }

        &-text {
            position: absolute;
            top: 600px;
            text-align: center;
            width: 100%;
        }
    }
}

.dark{
    &-nearlock-app {
        color: #A9A9A9;
        background-color: hsla(210, 14%, 17%, 0.8);
        backdrop-filter: blur(50px);
        box-shadow:
            0 0 0 1px rgba(255, 255, 255, .025),
            0 60px 300px rgba(0, 0, 0, .4),
            0 0 2px 0 hsla(190, 20%, 100%, .15) inset;

        &-content {
            background: #211C21;

            .tab-content {
                h5 {
                    color: #fff;
                }
            }
        

            &-header,
            &-header-open {
                background: #211C21;
                border-bottom: 1px solid hsla(0, 0%, 100%, 0.09);

                &__search,
                &__search-open {
                    background: #211C21 url("./../public/search.svg") no-repeat 10px center;
                    outline:hsla(0, 0%, 100%, .06) solid 1px;
                }

                &__search {
                    &-open {
                        &:focus {
                            outline: none;
                            box-shadow:
                            0 0 0 1px hsl(108, 64%, 38%),
                            0 0 0 4px hsl(106, 68%, 31%);
                        }
                   }
                }
            }    
        }
        &-sidebar {
            &__item,
            &__item__disabled,
            &__item__active {
                color: #fff !important;
    
                &__disabled {
                    opacity: 0.5;
    
                    &:hover {
                        cursor: default !important;
                    }
                }
    
                &__active {
                    background: hsla(0, 0%, 0%, .09) !important;
                    border-radius: 7px;
                }
            }

        }

        &__btn {
            background: hsla(0, 0%, 100%, .15);
            color: #fff;
        }    
    }
}
