.nearlock-app {
    .tab-content {
        .notifications {
            &-clock {
                position: absolute;
                bottom: 247px;
                left: 510px;
                z-index: 1;
                font-size: 14px;
                font-weight: 400;
                color: #FFFFFF;
                font-family: SFPro-Medium;
                text-shadow: 0 1px 3px rgba(0,0,0,0.30);
            }
        }
    }
}